@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}

/* open-sans-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff');
  /* Modern Browsers */
}

/* open-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff');
  /* Modern Browsers */
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
figure,
input,
ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

ul {
  list-style: none;
}

:root {
  --cornflower-blue-color: #6C9BFA;
  --cornflower-blue-03-color: rgba(108,	155,	250,	0.3);
  --cornflower-blue-07-color: rgba(108,	155,	250,	0.7);
  --night-rider-color: #333333;
  --black-color: #000000;
  --studio-color: #7943A4;
  --white-color: #ffffff;
  --cornflower-blue-color: #6495ED;
}

.title-all {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: var(--night-rider-color);
}

.container {
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
}

/* header */

.header {
  height: 100px;
  padding: 20px 0;
  background-color: var(--cornflower-blue-07-color);
  box-shadow: 0px 5px 5px -3px rgba(108, 155, 250, 0.6);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  width: 150px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__item-link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: var(--night-rider-color);
  text-shadow: 0px 0px 5px rgba(51,51,51,0.5);
  transition: color .3s ease-in-out;
}

.header__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--studio-color);
  box-shadow: 0px 0px 5px rgba(51,51,51,0.5);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.header__item-link:hover::after {
  transform: scaleX(1);
}

.header__item-link:focus-visible,
.header__item-link:hover {
  color: var(--studio-color);
}

/* hero */

.hero {
  position: relative;
  border-bottom: 2px solid var(--cornflower-blue-color);
}  

.hero__swiper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: resize;
  animation-name: resize;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hero__slide-1 {
  background-image: url("../img/hero/hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}

.hero__slide-2 {
  background-image: url("../img/hero/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}

.hero__slide-3 {
  background-image: url("../img/hero/hero3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}

.hero__slide-4 {
  background-image: url("../img/hero/hero4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}

.hero__slide-5 {
  background-image: url("../img/hero/hero5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}

.hero__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 25px;
}

.hero__content-img-pic {
  border-radius: 100%;
  outline: 5px solid var(--studio-color);
  outline-offset: 5px;
  box-shadow: 0px 0px 17px 23px rgb(255 255 255 / 27%);
}

.hero__content-info {
  max-width: 50%;
}

.hero__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 100px;
  color: var(--white-color);
  text-shadow: 0px 0px 4px var(--white-color);
}

.hero__text {
  font-weight: 600;
  font-size: 38px;
  line-height: 76px;
  color: var(--cornflower-blue-color);
  text-shadow: 0px 0px 2px var(--white-color);
}

/* about */

.about {
  padding: 80px 0;
  border-bottom: 2px solid var(--cornflower-blue-color);
}

.about__content {
  max-width: 1000px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: var(--night-rider-color);
}

.about__text:not(:first-child) {
  margin-bottom: 20px;
}

/* skils */

.skils {
  padding: 80px 0;
  border-bottom: 2px solid var(--cornflower-blue-color);
  background-color: var(--cornflower-blue-03-color);
}

.skils__list {
  column-count: 5;
}

.skils__item {
  margin-bottom: 70px;
}

.skils__link {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: var(--night-rider-color);
  transition: color .3s ease-in-out;
}

.skils__link svg {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.skils__link:hover {
  color: var(--studio-color);
}

.skils__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: var(--studio-color);
  box-shadow: 0px 0px 5px rgba(51,51,51,0.5);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.skils__link:hover::after {
  transform: scaleX(1);
}

/* code */

.code {
  padding: 80px 0;
  border-bottom: 2px solid var(--cornflower-blue-color);
}

.code__text:not(:first-child) {
  margin-bottom: 50px;
}

.code__text-code {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--night-rider-color);
}

/* work */

.work {
  padding: 80px 0;
  border-bottom: 2px solid var(--cornflower-blue-color);
  background-color: var(--cornflower-blue-03-color);
}

.work__list {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.work__item {
  position: relative;
}

.work__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
  height: 5px;
  background-color: var(--cornflower-blue-color);
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.work__item:hover::after {
  width: 100%;
  background-color: var(--studio-color);
  box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.5);
}

.work__item-link-img {
  max-height: 208px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 23%);
  transition: all .3s ease-in-out;
}

.work__item-link-img:hover {
  box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.5);
}

.work__item-link-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: var(--night-rider-color);
  text-shadow: 0px 0px 5px rgba(51,51,51,0.5);
  transition: all .3s ease-in-out;
}

.work__item:hover .work__item-link-title {
  color: var(--studio-color);
  text-shadow:0px 0px 10px #000000;
}

.work__item-link-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__item-link-stack svg {
  width: 30px;
  height: 30px;
  transition: all .3s ease-in-out;
}

.work__item:hover .work-icon {
  filter: drop-shadow(0px 0px 10px #000000);
}

.work-icon.work-icon--php {
  width: 60px;
}

.work-icon:not(:last-child) {
  margin-right: 10px;
}



