@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}

/* open-sans-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff');
  /* Modern Browsers */
}

/* open-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v29-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff');
  /* Modern Browsers */
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans, sans-serif';
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
figure,
input,
ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

ul {
  list-style: none;
}

:root {
  --cornflower-blue-color: #6C9BFA;
  --cornflower-blue-07-color: rgba(108,	155,	250,	0.7);
  --night-rider-color: #333333;
}

.title-all {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.text-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

/* header */

.header {
  height: 100px;
  padding: 20px 0;
  background-color: var(--cornflower-blue-07-color);
  box-shadow: 0px 5px 5px -3px rgba(108, 155, 250, 0.6);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  width: 150px;
}

.header__list {
  display: flex;
}

/* .header__item {
  position: relative;
} */

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__item-link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: var(--night-rider-color);
  text-shadow: 0px 0px 5px rgba(51,51,51,0.5);
  transition: color .3s ease-in-out;
}

.header__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #7943A4;
  box-shadow: 0px 0px 5px rgba(51,51,51,0.5);;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.header__item-link:hover::after {
  transform: scaleX(1);
}

.header__item-link:focus-visible,
.header__item-link:hover {
  color: #7943A4;
}




